.hero {
    background-image: url(images/nebulahero.png);
    height: 554px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
	overflow: visible;
    display: flex;
}


/*
.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
} */
/*nav*/

header {
    background-color: #00006A;
    padding: 16px;
}

.nav-link {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #F7F7FF;
	text-decoration: none;
}

nav li {
	list-style: none;
	padding-left: 0px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 26px;
}

/*footer*/

footer {
    background-color: #000036;
    padding: 16px;
}


/* sections */

.join-background {
    background-color: #D9D9EB;
    border-radius: 0px 0px 30px 30px;
}

.flex {
    display: flex;
}

.two-join-background {
    background-color: #D9D9EB;
    border-radius: 30px 30px 0px 0px;
}

.submission-background {
    background-color: #D9D9EB;
}

/* fonts */

/*font */

.IBMPlexSans {
    font-family:  "IBM Plex Sans Devanagari", sans-serif;
}

.RobotoMono {
    font-family: "Roboto Mono", sans-serif;
}

.RASCEdmonton {
    font-family: "Roboto", sans-serif;
    color:#F7F7FF;
    font-size: 128px;
    padding: 0%;
}


.blue-h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #1818D4;

}

.see-all {
    font-family: "Roboto Mono", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #1818D4;
    text-decoration: none;
}

.updates-h3 {
    font-family: "Spectral", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000036;
}

.updates-p {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 16px;
    color:#000036;
}

.updates-date {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 16px;
    color:#000036;
    font-weight: bold;
}

.articles-text {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 40px;
    color: #1818D4;
}

.join-h1 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 128px;
    font-weight: bold;
    color: #00006A;
}

.member-benefits-h3 {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 32px;
    color: #000036;
}

.member-benefits-p {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 24px;
    color: #000036;
}

.join-card {
    color: #1818D4;
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 70px;
    border-bottom: 1px solid #000036;
}

h1 {
    margin: 0;
}

.h1-contact {
    color: #1818D4;
    font-weight: bold;
    font-family: "Roboto Mono", sans-serif;
    font-size: 64px;
}

/*colour*/

.off-white-text {
    color: #F7F7FF;
}

.blue-text {
    color: #1818D4;
}

.navy-text {
    color: #000036;
}

.link-text {
    color: #01D9FF;
}

.royal-blue {
    color: #00006A;
}

/*font-weight */

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

/* size */

.onehundredtwentyeight {
    font-size: 128px;
}

.eighty {
    font-size: 80px;
}

.fortyeight {
    font-size: 48px;
}

.forty {
    font-size: 40px;
}

.thirtysix {
    font-size: 36px;
}

.thirtytwo {
    font-size: 32px;
}

.twentyfour {
    font-size: 24px;
}

.twenty {
    font-size: 20px;
}

.sixteen {
    font-size: 16px;
}

/* padding */

.padding-about {
    padding-top: 30px;
    padding-bottom: 120px;
}

.padding-join {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding {
    padding-left: 30px;
    padding-right: 30px;
}

/* design elements */

.event-tags {
    display: flex;
    max-height: 29px;
    max-width: fit-content;
    height: 29px;
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    padding: 0px 10px;
}

.event-tags p {
    margin: 0;
}

.image-event {
    max-height: 199px;
    max-width: 340px;
}

.member-card {
    border-top: 2px solid #000036;
    padding-top: 30px;
}


.contact-card-text {
   
    border-bottom: 1px solid #000036;
}

.contact-card {
    width: 292px;
    height: 385px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(168, 192, 255, 0.3);
}

.articles-card {
    width: 232px;
    height: 152px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(168, 192, 255, 0.3);
    display: flex;

}

.newsletter-line {
    padding-bottom: 30px;
    border-bottom: 1px solid #000036;
}


