.hero {
    background-image: url(images/nebulahero.png);
    height: 554px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
	overflow: visible;
}

.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}
/*nav*/

header {
    background-color: #00006A;
    padding: 16px;
}

.nav-link {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #F7F7FF;
	text-decoration: none;
}

nav li {
	list-style: none;
	padding-left: 0px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 26px;
}

/*footer*/

footer {
    background-color: #000036;
    padding: 16px;
}


/* sections */

.join-background {
    background-color: #D9D9EB;
    border-radius: 0px 0px 30px 30px;
}

.two-join-background {
    background-color: #D9D9EB;
    border-radius: 30px 30px 0px 0px;
}

/* fonts */

/*font */

.IBMPlexSans {
    font-family:  "IBM Plex Sans Devanagari", sans-serif;
}

.RobotoMono {
    font-family: "Roboto Mono", sans-serif;
}

.RASCEdmonton {
    font-family: "Roboto", sans-serif;
    color:#F7F7FF;
    font-size: 128px;
    padding: 0%;
}

.blue-h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #1818D4;

}

.see-all {
    font-family: "Roboto Mono", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #1818D4;
}

.updates-h3 {
    font-family: "Spectral", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000036;
}

.updates-p {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 16px;
    color:#000036;
}

.updates-date {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 16px;
    color:#000036;
    font-weight: bold;
}

.join-h1 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 128px;
    font-weight: bold;
    color: #00006A;
}

.member-benefits-h3 {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 32px;
    color: #000036;
}

.member-benefits-p {
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 24px;
    color: #000036;
}

.join-card {
    color: #1818D4;
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.h1-contact {
    color: #1818D4;
    font-weight: bold;
    font-family: "Roboto Mono", sans-serif;
    font-size: 64px;
}

/*colour*/

.off-white-text {
    color: #F7F7FF;
}

.blue-text {
    color: #1818D4;
}

.navy-text {
    color: #000036;
}

.link-text {
    color: #01D9FF;
}

.royal-blue {
    color: #00006A;
}

/*font-weight */

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

/* size */

.onehundredtwentyeight {
    font-size: 128px;
}

.eighty {
    font-size: 80px;
}

.fortyeight {
    font-size: 48px;
}

.forty {
    font-size: 40px;
}

.thirtysix {
    font-size: 36px;
}

.thirtytwo {
    font-size: 32px;
}

.twentyfour {
    font-size: 24px;
}

.twenty {
    font-size: 20px;
}

.sixteen {
    font-size: 16px;
}